<?xml version='1.0' encoding='utf-8'?>
<widget id="org.jevon.cordova.parse-push-test" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ParsePushTest</name>
    <description>
        A sample Apache Cordova application illustrating the Parse Push plugin.
    </description>
    <author email="jevon@jevon.org" href="https://jevon.org">
        Jevon Wright
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
